html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    color: #212832;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: #212832;
}

main {
    max-width: 1170px;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    position: sticky;
    transition: all 0.4s;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    z-index: 100;
}

.heading {
    color: #14183E;
    font-family: "Volkhov", sans-serif;
    font-size: 50px;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    line-height: normal;
}

.subheading {
    color: #5E6282;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.decoration {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}


.header__logo {
    height: 30px;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__nav__list li {
    margin-left: 60px;
}

.header__nav__list li:first-child {
    margin-left: 0;
}

.header__options {
    margin-left: 90px;
}

.header__option {
    margin-left: 50px;
}

.header__option:first-child {
    margin-left: 0;
}

.header__options button {
    padding: 8px 22px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.header-active {
    background-color: #FFF;
}

.hero {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 105px;
}

.hero__right {
    min-width: 50%;
}

.hero__right img {
    max-width: 100%;
}

.hero__left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero__left h2 {
    font-family: "Poppins", sans-serif;
    color: #DF6951;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.hero__heading {
    color: #181E4B;
    font-family: "Volkhov", sans-serif;
    font-size: 84px;
    font-style: normal;
    font-weight: 700;
    line-height: 89px; /* 105.952% */
    letter-spacing: -3.36px;
    margin-bottom: 30px;
    text-align: left;
    text-transform: none;
}

.hero__description {
    color: #5E6282;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    margin-bottom: 35px;
}

.hero__left h1 span {
    background: no-repeat 0 83%/130% url("../img/svg/enjoy-decore.svg");
}

.hero__buttons {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.hero__find-button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    background: #F1A501;
    border: 0;
    margin-right: 45px;
}

.hero__play-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #DF6951;
    border: 0;
    box-shadow: 0px 15px 30px 0px rgba(223,105,81,0.3);
    margin-right: 20px;
}

.hero__play-button img {
    transform: scale(1.2);
}

.hero__buttons p {
    color: #686D77;
}

.category {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 155px;
    background: url("../img/svg/category-decore.svg") no-repeat top right;
}

.category .heading {
    margin-bottom: 60px;
}

.category__cards {
    display: flex;
    align-items: center;
}

.category__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 315px;
    margin-right: 30px;
    padding: 40px 40px 45px;
    border-radius: 36px;
}

.category__card:hover {
    background-color: #FFF;
    transition: all 0.3s;
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.category__card::before {
    opacity: 0;
    content: "";
    position: absolute;
    bottom: -32px;
    left: -35px;
    width: 100px;
    height: 100px;
    border-radius: 30px 0px 10px 0px;
    background: #DF6951;
    z-index: -1;
    transition: all 0.5s;
}

.category__card:hover::before {
    opacity: 1;
}


.category__card img {
    height: 80px;
    margin-bottom: 30px;
}

.category__card h3 {
    color: #1E1D4C;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.category__card p {
    color: #5E6282;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.destinations {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 185px;
}

.destinations__cards {
    margin-top: 60px;
    width: 100%;
    display: flex;
}

.destinations__card {
    width: 315px;
    position: relative;
    margin-left: 35px;
    height: 455px;
    border-radius: 24px;
    background-size: cover;
    box-shadow: 0px 100px 80px 0px rgba(0,0,0,0.02),
    0px 65px 47px 0px rgba(0,0,0,0.015),
    0px 36px 26px 0px rgba(0,0,0,0.012),
    0px 20px 13px 0px rgba(0,0,0,0.01),
    0px 8px 7px 0px rgba(0,0,0,0.008),
    0px 2px 3px 0px rgba(0,0,0,0.005);
}

.destinations__card:first-child {
    margin-left: 0;
}

.destinations__card:last-child {
    margin-left: 60px;
    position: relative;
}

.destinations__card:last-child::after {
    content: "";
    display: block;
    position: absolute;
    background: url(../img/svg/destinations-decore.svg) no-repeat;
    width: 31%;
    height: 57%;
    z-index: -1;
    bottom: 50px;
    right: -60px;
}

#destionations__card__rome {
    background: url(../img/rome.png) center center no-repeat;
}

#destionations__card__uk {
    background: url(../img/uk.png) center center no-repeat;
}

#destionations__card__europe {
    background: url(../img/europe.png) center center no-repeat;
}

.destinations__card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    border-radius: 0 0 23px 23px;
    bottom: 0;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    line-height: 124%;
    color: #5E6282;
    height: 130px;
    width: 100%;
    padding: 25px 25px 40px 20px;
}

.destinations__card-heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
}

.destinations__card-subheading {
    display: flex;
    font-size: 16px;
    align-items: center;
}

.destinations__card-subheading img {
    margin-right: 15px;
}

.app {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.app__left {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.app__left .heading, .app__left .subheading {
    text-align: left;
}

.app__feature {
    display: flex;
    margin-top: 50px;
}

.app__feature:first-child {
    margin-top: 30px;
}

.app__feature img {
    margin-right: 20px;
}

.app__feature-description {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}

.app__feature-description h3 {
    font-weight: 700;
    margin-bottom: 5px;
}

.app__right__main-card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    line-height: 124.5%;
    font-size: 16px;
    background-color: #FFF;
    color: #84829A;
    border-radius: 24px;
    width: 370px;
    height: 400px;
    padding: 20px 25px 30px;
    box-shadow: 0px 100px 80px 0px rgba(0,0,0,0.02),
    0px 65px 47px 0px rgba(0,0,0,0.015),
    0px 39px 25px 0px rgba(0,0,0,0.012),
    0px 20px 13px 0px rgba(0,0,0,0.01),
    0px 8px 7px 0px rgba(0,0,0,0.008),
    0px 2px 3px 0px rgba(0,0,0,0.005);
}

.app__right__main-card::after {
    content: "";
    position: absolute;
    display: block;
    right: -45px;
    top: -60px;
    width: 350px;
    height: 350px;
    background: url(../img/svg/app-decore.svg) no-repeat;
    background-size: contain;
    z-index: -1;
}

.app__right__card-image {
    border-radius: 24px;
}

.app__right__main-card h3 {
    margin-top: 25px;
    font-size: 18px;
    color: #080809;
    font-weight: 600;
    letter-spacing: 1.5%;
}

.app__right-user {
    display: flex;
    margin-top: 15px;
}

.app__right-date {
    margin-right: 13px;
    position: relative;
}

.app__right-date img {
    position: absolute;
    right: -5px;
}

.app__right__main-card ul {
    display: flex;
    margin-top: 20px;
}

.app__right__main-card li {
    margin-right: 18px;
}

.app__right__main-card li:nth-child(2) {
    margin-right: 13px;
}

.app__right-going {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.app__right-going p {
    position: relative;
}

.app__right-going p img {
    margin-right: 15px;
}

.testimonials {
    display: flex;
}

.testimonials__left {
    margin-right: 125px;
}

.testimonials__left .heading, .testimonials__left .subheading {
    text-align: left;
}

.testimonials__radios {
    margin-top: 80px;
    display: flex;
}

.testimonials__radios input[type="radio"] {
    display: none;
}

.testimonials__radios label {
    display: block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: #E5E5E5;
    border-radius: 50%;
    border: none;
    margin-right: 26px;
}

.testimonials__radios input[type="radio"]:checked+label {
    background-color: #39425D;
}

.testimonials__right {
    display: flex;
}

.testimonials__cards {
    color: #5E6282;
    font-family: "Poppins", sans-serif;
    margin-right: 115px;
}

.testimonials__card-active {
    position: relative;
    width: 500px;
    height: 245px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 28px 68px 35px 34px;
    box-shadow: 0px 100px 80px 0px rgba(0,0,0,0.02),
    0px 65px 47px 0px rgba(0,0,0,0.015),
    0px 39px 25px 0px rgba(0,0,0,0.012),
    0px 20px 13px 0px rgba(0,0,0,0.01),
    0px 8px 7px 0px rgba(0,0,0,0.008),
    0px 2px 3px 0px rgba(0,0,0,0.005);
}

.testimonials__cards img {
    position: absolute;
    top: -34px;
    left: -37px;
}

.testimonials__cards p {
    line-height: 32px;
    margin-bottom: 34px;
    font-size: 16px;
}

.testimonials__cards b {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.testimonials__cards .testimonials__small-text {
    font-size: 14px;
}

.testimonials__card-non-active {
    position: relative;
    z-index: -1;
    bottom: 155px;
    left: 50px;
    width: 500px;
    height: 245px;
    border: #F7F7F7 solid 2px;
    border-radius: 10px;
    padding: 28px 68px 35px 34px;
    box-shadow: 0px 100px 80px 0px rgba(0,0,0,0.02),
    0px 65px 47px 0px rgba(0,0,0,0.015),
    0px 39px 25px 0px rgba(0,0,0,0.012),
    0px 20px 13px 0px rgba(0,0,0,0.01),
    0px 8px 7px 0px rgba(0,0,0,0.008),
    0px 2px 3px 0px rgba(0,0,0,0.005);
}

.testimonials__right-arrows {
    display: flex;
    flex-direction: column;
    margin-top: 106px;
}

.testimonials__right-arrows img {
    cursor: pointer;
}

.testimonials__right-arrows img:first-child {
    margin-bottom: 58px;
}

.partners {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}

.partners__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 85px;
    margin-right: 30px;
    border-radius: 10px;
    transition: all 0.3s;
    filter: grayscale(100%);
    cursor: pointer;
}

.partners__card:hover {
    filter: grayscale(0%);
    background-color: #FFF;
    box-shadow: 0px 100px 80px 0px rgba(0,0,0,0.02),
    0px 65px 47px 0px rgba(0,0,0,0.015),
    0px 39px 25px 0px rgba(0,0,0,0.012),
    0px 20px 13px 0px rgba(0,0,0,0.01),
    0px 8px 7px 0px rgba(0,0,0,0.008),
    0px 2px 3px 0px rgba(0,0,0,0.005)
}

.email {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 80px 145px;
    background-color: #F9F7FE;
    border-radius: 20px;
    border-top-left-radius: 129px;
    background-image: url(../img/svg/email-decore.svg);
    background-position: 20px center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 165px;
}

.email::after {
    content: "";
    position: absolute;
    top: -13px;
    right: -20px;
    width: 70px;
    height: 70px;
    background: url(../img/svg/email-send.svg);
}

.email::before {
    content: "";
    position: absolute;
    bottom: -70px;
    right: -100px;
    width: 155px;
    height: 170px;
    background: url(../img/svg/email-decore2.svg);
}

.email h2 {
    font-family: "Poppins", sans-serif;
    color: #5E6282;
    line-height: 54px;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 75px;
}

.email form {
    display: flex;
    position: relative;
    height: 70px;
}

.email input {
    border: 0;
    border-radius: 10px;
}

.email input[type=email] {
    padding-left: 65px;
    width: 420px;
    margin-right: 25px;
    background-image: url("../img/svg/email.svg");
    background-position: 30px center;
    background-repeat: no-repeat;
    font-size: 14px;
    color: #39425D;
    font-family: "Monsterrat", sans-serif;
}

.email input[type=submit] {
    width: 180px;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #FFF;
    background: linear-gradient(180deg, rgba(255,148,109,1) 0%, rgba(255,125,104,1) 100%);
}